<ion-app>
  <!-- <ion-router-outlet></ion-router-outlet> -->
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" side="start">
      <ion-content>
        <div class="infoSection">
          <img class="userPhoto" src="this.src='assets/imgs/logo.png'" style="width: 150px;" onError="this.src='assets/imgs/logo.png'"
            alt="">
            <span style="color:white"><b>ISO 9001 : 2015</b></span>
            <p class="userName" style="text-align: center;">Wrinkle Free The Ironing Company</p>
          <!-- <span style="color:white">Wrinkle-free The Ironing Company</span> -->
          <span style="color:white">&#169; All Rights Reserved</span>
        </div>
        <ion-list id="inbox-list" class="ion-no-padding">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" lines="none" detail="false"
              [class.selected]="selectedIndex == i" (click)="onPage(p.url)">
              <ion-icon slot="start" name="{{p.icn}}" [class.active]="selectedIndex == i"></ion-icon>
              <ion-label>{{ getTranslate(p.title) }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" (click)="logout()" *ngIf="haveSignedIn()===true">
            <ion-item routerDirection="root" lines="none" detail="false">
              <ion-icon slot="start" name="power-outline"></ion-icon>
              <ion-label>{{getTranslate('Logout')}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <app-phone-icon></app-phone-icon>
</ion-app>
